p {
    width: 200px;
    height: 200px;
    background-color: lightblue;
}

.box-content {
    height: 250px;
    width: 250px;
    background-color: cadetblue;
    box-sizing: content-box;
    padding: 20px;
}

.box-border-box {
    height: 250px;
    width: 250px;
    background-color: cadetblue;
    box-sizing: border-box;
    padding: 20px;
}

.block {
    display: block;
    background-color: lightcoral;
    margin-bottom: 10px;
}

.inline {
    display: inline;
    background-color: lightgreen;
    padding: 5px;
}

.inline-block {
    display: inline-block;
    background-color: lightseagreen;
}

.sticky {
    position: sticky;
    width: 200px;
    height: 50;
    background-color: lightgreen;
}

.static {
    position: static;
    width: 200px;
    height: 50;
    background-color: lightgreen;
}

.relative {
    position: relative;
    width: 200px;
    height: 50;
    background-color: lightpink;
}

.absolute {
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: lightcoral;
    top: 100px;
    left: 100px;
}

.fixed {
    position: fixed;
    width: 200px;
    height: 50;
    background-color: lightgrey;
    bottom: 100px;
    right: 100px;
}

.float-left {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 10px;
    background-color: lightcoral;
}

.float-right {
    float: right;
    width: 200px;
    height: 200px;
    margin-right: 10px;
    background-color: lightblue;
}

.clear-floats {
    clear: both;
    padding: 10px;
    background-color: lightyellow;
}

.box {

}

.box.box-center-horizontal {
    width: 100px;
    margin: 0 auto;
}

.box.box-center-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
}